VITE_API_BASE=http://localhost:5000
VITE_OMNIREP_REGISTRY_ADDRESS=
VITE_OMNIREP_VERIFIER_ADDRESS=
VITE_OMNIREP_BADGE_ADDRESS=
VITE_LENDLITE_ADDRESS=
VITE_ETH_LOAN_POOL_ADDRESS=
VITE_BASE_LOAN_POOL_ADDRESS=
VITE_ETH_GOVERNOR_ADDRESS=
VITE_BASE_GOVERNOR_ADDRESS=
VITE_ETH_CONTRIBUTION_ADDRESS=
VITE_BASE_CONTRIBUTION_ADDRESS=
